@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --bg: lavender;
  --text-color: darkslateblue;
}

* {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-variant-numeric: tabular-nums;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 0 1rem 0;
}
