@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

:root {
  --bg: lavender;
  --text-color: darkslateblue;
  --border: rgb(155, 146, 215);
  --container-size: 400px;
}

* {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-variant-numeric: tabular-nums;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90dvh;
  flex-direction: column;
}

button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid var(--bg);
  background-color: var(--text-color);
  color: var(--bg);
  padding: 0.5rem;
}
button:hover {
  cursor: pointer;
}
button:active {
  background-color: var(--bg);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

fieldset {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding-inline: 0;
  width: var(--container-size);
  box-sizing: border-box;
}

legend {
  padding-inline: 1rem;
  font-weight: bold;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0 0 1rem 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: var(--container-size);
  height: var(--container-size);
}
#container > div {
  background-color: white;
  box-sizing: border-box;
  border: 0.5px solid var(--bg);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#control-panel {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: var(--container-size);
}

#generate {
  width: 100%;
  max-width: var(--container-size);
  box-sizing: border-box;
}
